/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #333;
    padding: 1rem 6rem;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between; /* Distribute space between left and right sections */
    align-items: center; /* Center items vertically */
}

.nav-left a,
.nav-right a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem; /* Using rem for margin */
    font-size: 1.5em;
}

.nav-left a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* Icon Styles */
.nav-right i {
    font-size: 1.5rem; /* Using rem for font size */
    margin: 0 0.5rem; /* Using rem for margin */
}

.nav-right a {
    display: inline-block;
}

.nav-right a:hover i {
    color: #ffeb3b; /* Change icon color on hover */
}

/* Main Content Styles */
main {
    padding: 1rem; /* Using rem for padding */
    text-align: center;
}

#calculator {
    display: flex;
    justify-content: space-between;
    margin: 7% auto;
    width: 80%;
    min-height: 400px;
    min-width: 200px;
}

#input-container {
    width: 40%;
    text-align: left;
    padding: 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 150px;
    }

/* #result-container {
    text-align: left;
    padding: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

#steps-container {
    width: 40%;
    padding: 4%;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Add a min-width to ensure the container doesn't collapse */
    min-width: 150px;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem; /* Using rem for padding */
    text-align: center;
}
