/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #1e90ff; /* Dodger Blue */
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #1e90ff;
}

#about p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.6;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
