h1 {
  text-align: center;
  color: #f5f5f5;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #4a4a4a;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

input[type="number"] {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #4a4a4a;
}

input[type="checkbox"] {
  margin-right: 8px;
}

.github-link {
  display: flex;
  align-items: right;
  gap: 8px;
  color: #333;
  text-decoration: none;
  padding: 16px 16px;
  border-radius: 6px;
  color: #f5f5f5;
  width: fit-content;
  margin: 0 auto 20px;
  transition: color 0.2s;
}

.github-link:hover {
  color: #abb4bc;
}

.github-link svg {
  font-size: 30px;
} 